/* 公共的类*/
.main{ 
	left:50%;
	top:50%;
    width: 100px;
    height: 100px;
    position:absolute;
	margin-left:-50px;
	margin-top:-50px;
    border-radius: 5px;
    box-shadow: 0 0 15px #999;
    background-color:#999;
}
/*top-div */
#div-top{
	background-color:#39F;
	margin-top:-152px;
}
/*right-div */
#div-right{
	background-color:#FC3;
	margin-left:52px;
}
/* bottom-div */
#div-bottom{
	background-color:#099;
	margin-top:52px;
}
/*left-div */
#div-left{
	background-color:#96C;
	margin-left:-152px;
}
/*con-div */
#div-con{
    background:url(24.ico) no-repeat center center;
}
